TELEGRAM_TOKEN=8651401119:AAHXA_6eLh9ElicvrM5gXI2JIDcrbxJQSEc
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5and6aWZoZnhyb2p3amlvYXBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzQxNDcxMywiZXhwIjoyMDk4OTkwNzEzfQ.xjicAYNFaI9iTA3PlHvM2L_10r38gJSIlwmopy_3O70
AUTO_VERIFY_URL=   # или оставьте пустым, потом вставите URL функции
ADMIN_ID=7727345054
ADMIN_USERNAME=your_admin_username
